<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <input id="Reset1" type="reset" value="reset" /><input id="Button1" type="button" value="button" /><input id="Submit1" type="submit" value="submit" /><input id="Text1" type="text" />
                                                                                                                                                          <input id="File1" type="file" />
                                                                                                                                                          
    
    <input id="Hidden1" type="hidden" />        
    <input id="Password1" type="password" />
    <select id="Select1">
        <option></option>

    </select>
    <hr />
    <table style="width:100%;"><tr><td>&nbsp;</td>1<td>&nbsp;</td>12<td>&nbsp;</td>23</tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
</body>
</html>